:root {
	--primary-accent-color: #ff5e9c;
	--secondary-accent-color: #51003d;
	--primary-glow-color: #8b1a6f;
	--secondary-glow-color: #310025;
}

/* ==== CUSTOM FONTS ==== */

@font-face {
	font-family: 'Yeah But When I Do It';
    src: url('/fonts/yeah_but_when_i_do_it.otf') format('opentype');
}

@font-face {
	font-family: 'Elizabeth Handwriting';
	src: url('/fonts/elizabeth-handwriting-medium.ttf') format('truetype');
}

/* ==== COMMON BUILT-IN CLASSES ==== */

* {
	color: #f8f8ff;
	font-size: px;
	font-family: 'Elizabeth Handwriting';
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #000000;
	margin: 16px;
    text-align: center;
}

h1 {
	color: var(--primary-accent-color);
	font-family: 'Yeah But When I Do It', 'Helvetica', sans-serif;
	font-size: 72px;
	font-weight: bold;
	letter-spacing: 2px;
	margin-top: 128px;
	margin-bottom: 64px;
}

h2 {
	font-family: 'Elizabeth Handwriting', 'Helvetica', sans-serif;
	font-size: 32px;
	font-weight: 100;
	margin-left: 20%;
	margin-right: 20%;
}

button {
	border: none;
	border-radius: 12px;
	cursor: pointer;
	font-size: 28px;
	padding: 8px 16px;
	margin-left: 4px;
	margin-right: 4px;
	text-align: center;
	transition-duration: 0.3s;
	background: radial-gradient(var(--secondary-accent-color) 0%, var(--secondary-glow-color) 95%);
	box-shadow:0 0 15px var(--secondary-glow-color);
}
button:hover {
	transform: scale(110%, 110%);
	background: radial-gradient(var(--primary-accent-color) 0%, var(--primary-glow-color) 95%);
	box-shadow:0 0 20px var(--primary-accent-color);
}
.tilt:hover {
	transform: rotate(8deg);
}
.tilt-negative:hover {
	transform: rotate(-8deg);
}

nav {
	position: sticky;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

li {
	display: inline;
	list-style-type: none;
}

#moveable-background {
	/* background-image: attr(background-image); */
	background-image: url('/img/dragon_fountain.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 75%;
	/* transition: background-position 20ms ease-in-out; */
	
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 130%;
	width: 130%;
	
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	filter: blur(5px);
	z-index: -1;
}

/* ==== MODIFIER CLASSES ==== */

.center {
	display: block;
	margin-left: 0 auto;
	margin-right: 0 auto;
	width: 50%;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* ==== NAVIGATION ICONS ==== */

img.nav-icon {
	aspect-ratio: 1 / 1;
	height: 28px;
	margin-left: 6px;
	margin-right: 6px;
}
img.nav-icon-clickable {
	aspect-ratio: 1 / 1;
	height: 28px;
	cursor: pointer;
	margin-left: 6px;
	margin-right: 6px;
}
img.nav-icon-clickable:hover, img.nav-icon-clickable:focus-visible {
	filter: brightness(53%);
	transition: filter 0.1s;
}

/* ==== TOGGLE BUTTONS ==== */

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-flex;
	top: -28px;
	width: 48px;
	height: 28px;
}
/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}
/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--secondary-accent-color);
	border-radius: 26px;
	-webkit-transition: .4s;
	transition: .4s;
}
.slider:before {
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	left: 6px;
	bottom: 4px;
	background-color: white;
	border-radius: 50%;
	-webkit-transition: .4s;
	transition: .4s;
}
input:checked + .slider {
	background-color: var(--primary-accent-color);
}
input:focus + .slider {
	box-shadow: 0 0 1px var(--primary-accent-color);
}
input:checked + .slider:before {
	-webkit-transform: translateX(16px);
	-ms-transform: translateX(16px);
	transform: translateX(16px);
}

/* ==== FULLSCREEN OVERLAY ==== */

#fullover {
	/* Cover entire window */
	position: fixed;
	top: 0; left: 0; z-index: 999;
	width: 100vw; height: 100vh;

	/* Background */
	background: #ffffff;
	backdrop-filter: blur(5px);

	/* Center content */
	display: flex;
	justify-content: center;
	align-items: center;

	/* Hide overlay by default */
	opacity: 0; visibility: hidden;
	transition: opacity 0.1s;
	pointer-events: none;
}
/* Showing the overlay */
#fullover.show {
	visibility: visible;
	opacity: 1; 
}

/* ==== CURSORS ==== */

.pointer { cursor: pointer; }
