@import 'variables.scss';

:root {
	overflow-x: hidden;
}

* {
    color: $text-color;
	font-size: $normal-text;
	font-family: $default-font;
	margin: 0;
	padding: 0;
	box-sizing: border-box;

    // ==== SCROLLBAR ====
    /* Chrome, Edge and Safari */
    &::-webkit-scrollbar {
        height: 10px;
        width: 10px;
    }
    &::-webkit-scrollbar-track {
        border-radius: 5px;
        background-color: $secondary-trans-color;
    }
    &::-webkit-scrollbar-track:hover {
        background-color: $secondary-trans-color;
    }
    &::-webkit-scrollbar-track:active {
        background-color: $secondary-trans-color;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $primary-trans-color;
        border-radius: 5px;
    }
    &::-webkit-scrollbar-thumb:hover {
        background-color: $primary-color;
    }
    &::-webkit-scrollbar-thumb:active {
        background-color: $primary-color;
    }
}

// ======== TEXT SELECTION ========

::selection { 
    color: #fff;
    background: $accent-color-trans;
    filter: blur(20px);
}
::moz-selection { // code for fucking Firefox
    color: #fff;
    background: $accent-color-trans;
    filter: blur(20px);
}

// DEBUG PURPOSES ONLY
// * {
//     &:nth-child(3n+0) {
//         border: 1px dashed #ff000080; // DEBUG
//     }
//     &:nth-child(3n+1) {
//         border: 1px dashed #006eff80; // DEBUG
//     }
//     &:nth-child(3n+2) {
//         border: 1px dashed #ffae0080; // DEBUG
//     }
// }

// ==== GENERIC ====

body {
	background-color: black;
    text-align: left;
    z-index: 1;
}

p {
	font-size: 18px;
    margin: 1.5vw;
}

a {
	color: $accent-tint-color;
	text-decoration-thickness: 1px;
    transition-duration: 100ms;
    
    &:hover {
        color: $accent-high-color;
    }
}

b {
    color: $accent-color;
}

small {
    font-size: $small-text;
    color: $accent-color;
}

blockquote {
    // margin: 2vh 2vh;

    &.left {
        border-left: 4px solid $primary-color;
        padding-left: 20px;
    }

    &.right {
        border-right: 4px solid $primary-color;
        padding-right: 20px;
    }
}

.standalone-text {
    filter: drop-shadow(4px 4px 2px #000);
}

.drop-shadow {
    filter: drop-shadow(16px 16px 4px #0006);
}

img {
    @extend .unselectable;
    height: auto;

    &.img-xsmall {
        filter: drop-shadow(16px 16px 4px #0006);
        max-width: 6vw;
    }

    &.img-small {
        filter: drop-shadow(16px 16px 4px #0006);
        max-width: 12vw;
    }

    &.img-medium {
        filter: drop-shadow(16px 16px 4px #0006);
        max-width: 24vw;
    }

    &.img-large {
        max-width: 40vw;
    }

    &.round {
        border-radius: $border-radius;
    }

    &.circle {
        border-radius: 50%;
    }

    &.title-img {
        position: relative;
        height: 10em;
    }
}

// ====== UNDER CONSTRUCTION NOTICE ======

.construction-notice {
    align-items: center;
    text-align: center;
    
    h1 {
        font-size: 70px;
        margin: 50px;
        font-family: 'Sedgwick Ave Display', sans-serif;
    }

    h2 {
        font-size: 50px;
        text-align: center;
        font-family: 'Elizabeth Handwriting', sans-serif;
        margin-bottom: 25px;
    }
}

// ====== GRID ALIGNMENT ======

.main-wrapper {
    display: grid;
    grid-template-columns: 30vw 22vw 22vw 22vw;
    gap: 2vw;
    grid-auto-rows: auto;
    grid-template-areas:
        "a c d e"
        "b c d e";
    align-items: start;
    align-content: center;
}

.scrambled-text {
    font-size: 3vw;
    font-family: 'Sedgwick Ave Display', sans-serif;
    color: $neon-dim-color;
    text-shadow: none;
    -webkit-text-stroke: 0.01rem $neon-dim-color;
}

#introduction {
    grid-area: a;
    padding-left: 10%;

    h1 {
        font-size: 1.6vw;
        margin-bottom: 2vh;
    }

    h2 {
        font-family: 'Sedgwick Ave Display', sans-serif;
        font-size: 3vw;
        margin-bottom: 4vh;
        letter-spacing: 0.05em;
        vertical-align: middle;
    }
}

.skills {
    grid-area: b;
    padding-left: 10%;
}

.area-c {
    grid-area: c;
}

.area-d {
    grid-area: d;
}

.area-e {
    grid-area: e;
}

// ==== CARDS ====

.card {
    position: relative;
    flex-direction: column;
    width: 18vw;
    height: 32vh;
    // margin-bottom: 32px;
    word-wrap: break-word;
    display: flex;

    padding: 16px;

    background-color: $accent-color;
    background-image: url(/img/placeholder.jpg);
    background-size: cover;

    background-clip: border-box;
    box-shadow: 0 0 32px $secondary-trans-color;
    border-radius: $border-radius;
}

.above-fade {
    margin-top: -64px;
    transform: rotateX(45deg);
    mask-image: linear-gradient(to top, white, transparent);
}

.below-fade {
    transform: rotateX(-45deg);
    mask-image: linear-gradient(to bottom, white, transparent);
}

.card-title {
    font-size: $h2-text;
    margin-top: auto;
    margin-bottom: 16px;
}

.card-description {
    font-size: $normal-text;
    color: $primary-tint-color;
    line-height: 24px;
}

.card-link {
    font-weight: 500;
}

span.card-tag {
    font-size: $small-text;
    width: calc-size(fit-content, size);
    border-radius: $border-radius;
    padding: 6px 10px;
    background-color: $primary-trans-color;
}

// ==== HEADER + FOOTER BAR ====

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
    align-self: center;
    padding: {
        bottom: 10vh;
        top: 6vh;
        left: 2vw;
        right: 2vw;
    }
    margin-left: 1vw;
}

footer {
    color: $accent-color;
    font-size: $small-text;
    text-align: center;
    margin-bottom: 4vh;
}

.screen-wrapper {
    top: 0; left: 0; 
    position: fixed; z-index: 10;
	width: 100vw; height: 100vh;
	display: flex;
    pointer-events: none;
}

// ==== NAVIGATION ====

nav {
    width: 94vw;
    padding-left: 10px;
    z-index: 10;
    position: fixed;
    overflow: hidden;
	justify-content: space-between;
	align-items: center;
	display: inline-flex;
}

li {
	display: inline-flex;
	list-style-type: none;
}

.nav-links {
    list-style: none;
    li {
        display: inline-block;
        padding: 0px 20px;
    }
    li a {
        transition: all $scale-transition-time ease 0s;

        &:hover {
            color: $primary-color;
            text-decoration: underline 1px;
        }
    }
}

img.nav-icon, img.nav-icon-clickable {
    aspect-ratio: 1 / 1;
	height: 28px;
	margin: -2px 4px;
    align-self: center;
}

img.nav-icon-clickable {
	cursor: pointer;
}

// Used to fade out context under the navbar
// .fading-mask {
//     width: 100%;
//     height: 100%;
//     background-color: #000;
    
//     &::after {
//         position: fixed;
//         // left: 0;
//         mask-image: linear-gradient(to bottom, white, transparent);
//         mask-size: 20vh;
//         height: 20%;
//         mask-clip: view-box;
//         border: 1px dashed #006eff80;
//     }
// }

// ==== NAVIGATION TOOLTIPS ====

.expanding-tooltip {
    text-decoration: none;
    color: $text-color;

    display: inline-flex;
    height: 42px;
    width: 44px;
    padding: 4px;

    align-self: center;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 24px;

    transition: width 300ms ease-in-out 0s, background-color 300ms linear 200ms;

    &:hover, &:focus-visible {
        width: calc-size(fit-content, size);
        position: relative;
        padding-right: 12px;
        background-color: $primary-trans-color;
        transition: width 300ms ease-in-out 0s, background-color 100ms linear 0s;
    }
    
    &:focus-visible {
        outline: 1px solid $primary-trans-color;
        outline-offset: 4px;
    }

    &::after {
        content: attr(tooltip);
        margin-left: 8px;
        animation: fade-in 600ms linear forwards;
    }    
}

// ==== BUTTONS ====

.squombus-button {
	border: none;
	border-radius: 1rem 5rem;
	cursor: pointer;
	padding: 8px 24px;
    margin-right: 8px;
	transition-duration: $scale-transition-time;

    &:hover {
        transform: scale(110%, 110%);
        border-radius: 5rem 1rem;
        background: $primary-trans-color;
        color: $primary-tint-color;
        text-decoration: underline;
        text-decoration-thickness: 1px;
    }
}

img.button-icon {
    aspect-ratio: 1 / 1;
    margin-right: 0.4vw;
    align-self: baseline;
}

// Used for external link icons in the navigation bar
.small-container {
    position: relative;
    align-items: center;
    border-radius: $border-radius;
    // padding-left: 8px;
    // padding-right: 8px;
}

.squombus-button, .card, .small-container {
    background-color: $secondary-trans-color;
    backdrop-filter: blur(20px);
}


// ==== GALLERY ====

.wrapper {
    align-items: center;
    text-align: center;
    line-height: 1.5rem;
}

.gallery-card {
    align-items: center;
    display: inline-flex;
    margin: 2vh 8vw;
    padding: 4vh 2vw;
    width: 70%;
    height: 50vh;
    transition-duration: $scale-transition-time;
    text-decoration: none;
    border-radius: $border-radius;

    &:nth-child(even) {
        text-align: left;
    }
    &:nth-child(odd) {
        text-align: right;
    }

    &:hover {
        transform: scale(105%, 105%);
        background-color: $secondary-trans-color;
    }

    span.card-tag {
        color: $primary-tint-color;
        font-size: $small-text;
        width: calc-size(fit-content, size);
        padding: 6px 10px;
        margin-right: 6px;
        background-color: $primary-trans-color;
        border-radius: $border-radius;
        
        .tag-icon {
            aspect-ratio: 1 / 1;
            height: 16px;
            margin: {
                bottom: -3px;
                right: 6px;
            }
            align-self: center;
            align-content: baseline;
        }
    }
}

h2.gallery-h2 {
    font: {
        size: $h2-text;
        // family: $default-font;
    }
    margin: {
        top: 4vh;
        bottom: 1vh;
        left: 1vw;
        right: 1vw;
    }
}

h3.gallery-h3 {
    @extend .gradient-text;
    display: inline-block;
    font: {
        size: $h3-text;
        family: $default-font;
    }
    margin: {
        top: 1vh;
        left: 1vw;
        right: 1vw;
    }
}

.description-wrapper-medium {
    width: 50rem;
}

.description-wrapper-small {
    width: 30rem;
}

h1.page-title {
    text-align: left;
    font: {
        size: $h1-text;
        family: 'Sedgwick Ave Display', sans-serif;
    }
    margin: {
        left: 4vw;
        right: 4vw;
        bottom: 6vh;
    }
}

// ======== BACKGROUND IMAGE ========

#moveable-background {
    background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 20%;
    background-image: url('/img/dragon_fountain-low.jpg'); // this is just the default image
    
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 120%;
	width: 120%;
    
	display: flex;
	position: fixed;
	filter: blur(5px);
	transition: all 2s cubic-bezier(0.34, 1.56, 0.64, 1), opacity 1ms;
    
	z-index: -1;
}

#parallax-background {
    background-image: url('/gallery/waking-dreams/Space_BG.png'); // this is just the default image
    width: 200%;
    height: 200vh;
    position: fixed;
	z-index: -2;
    
    animation: scroll 60s linear infinite;
    
    opacity: 60%;
}

// ====== MODAL POPUP ======

.modal {
    display: none;
    align-content: center;
    position: fixed;
    z-index: 20;
    left: 0; top: 0;
    width: 100%; height: 100%;
    overflow: hidden;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    opacity: 0;
    display: block;
    margin: auto;
    height: auto;
    max-height: 70vh;
    max-width: 80%;
    object-fit: contain;
    animation: fade-in 200ms linear forwards;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

#caption {
    opacity: 0;
    font-size: $normal-text;
    margin: auto;
    display: block;
    width: 50%;
    max-width: 700px;
    text-align: center;
    color: #ffffff;
    padding: 6vh 0;
    animation: fade-in 600ms linear forwards;
    filter: drop-shadow(16px 16px 4px #0006);
}

// ==== MODIFIER CLASSES ====

.center {
	display: block;
	margin-left: 0 auto;
	margin-right: 0 auto;
	width: 50%;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hoverable {
    cursor: pointer;
    transition-duration: $scale-transition-time;

    &:hover {
        transform: scale(105%, 105%);
    }
}

.zoom-in {
    cursor: zoom-in;
}

.gradient-text {
    background: linear-gradient(90deg, $primary-tint-color 0%, $accent-color 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.neon-text {
	animation: pulsate-neon 2.5s infinite alternate;
}

.spacer {
    margin: 100px 100px;
}

// ==== TOGGLE BUTTONS ====

// The box around the slider
.switch {
	position: relative;
	top: -10px;
	width: 48px;
	height: 28px;
    input { opacity: 0; width: 0; height: 0; } // Hide default HTML checkbox
}

.slider {
	position: absolute;
    vertical-align: middle;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: $secondary-color;
	border-radius: 26px;
	-webkit-transition: .4s;
	transition: .4s;

    &:before {
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        left: 6px;
        bottom: 4px;
        background-color: white;
        border-radius: 50%;
        -webkit-transition: .4s;
        transition: .4s;
    }
}

input:checked + .slider {
	background-color: $primary-color;
}

input:focus + .slider {
	box-shadow: 0 0 1px $primary-color;
}

input:checked + .slider:before {
	-webkit-transform: translateX(32px);
	-ms-transform: translateX(32px);
	transform: translateX(32px);
}

// ==== FULLSCREEN OVERLAY ====

#fullover {
	// Cover entire window
	position: fixed;
	top: 0; left: 0; z-index: 100;
	width: 100vw; height: 100vh;

	// Background
	background: black;
	backdrop-filter: blur(5px);

	// Center content
	display: flex;
	justify-content: center;
	align-items: center;

	// Hide overlay by default
	opacity: 0; visibility: hidden;
	transition: opacity 0.1s;
	pointer-events: none;
}
// Showing the overlay
#fullover.show {
	visibility: visible;
	opacity: 1;
}

// ==== ANIMATIONS ====

// Used for the neon light text effect
@keyframes pulsate-neon {
	100% {
		text-shadow:
			0 0 1px $text-color,
			0 0 5px $accent-color,
			0 0 10px $accent-color,
			0 0 20px $primary-color,
			0 0 40px $primary-color;
	}
	0% {
		text-shadow:
			0 0 2px $text-color,
			0 0 10px $accent-color,
			0 0 20px $accent-color,
			0 0 40px $primary-color,
			0 0 60px $primary-color;
	}
}

@keyframes levitate {
    0% { transform: translateY(6px); }
	100%{ transform: translateY(0px); }
}

@keyframes fade-in {
    0% { opacity: 0; }
    100%   { opacity: 1; }
}

@keyframes scroll {
    100% { background-position: 768px 768px; }
}

$wave-offset: 4px;
$count : 5;
$duration: 0.1s;

.wavey-text { 
    margin-top: $wave-offset;
    margin-bottom: $wave-offset;
    display: inline flex;
    text-decoration: none;

    span {
        animation: wavey 0.5s ease-in-out infinite alternate; 
    }
    &:nth-child(1) {
        animation-delay: 0s;
    }
    &:nth-child(2) {
        animation-delay: 0.2s;
    }
    &:nth-child(3) {
        animation-delay: 0.4s;
    }
    &:nth-child(4) {
        animation-delay: 0.6s;
    }

    
    &:hover {
    }
}

@keyframes wavey {
    from { transform: translateY($wave-offset); }
    to { transform: translateY(-$wave-offset); }
}

@for $i from 0 to $count {
    .wavey-text :nth-child( #{$count}n + #{$i} ) {
        animation-delay: -#{($count - $i) * 2 * $duration / $count }s;
        // color: rgba(100 + $i * 20 % 155, 10, 100 + $i * 40 % 55, 1);
    }
}

