@font-face {
  font-family: "Yeah But When I Do It";
  src: url("/fonts/Yeah_But_When_I_Do_It.otf") format("opentype");
}
@font-face {
  font-family: "Elizabeth Handwriting";
  src: url("/fonts/Elizabeth_Handwriting.otf") format("opentype");
}
@font-face {
  font-family: "Sedgwick Ave Display";
  src: url("/fonts/Sedgwick_Ave_Display.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat Alternates";
  src: url("/fonts/Montserrat_Alternates.ttf") format("truetype");
}
@font-face {
  font-family: "VCR OSD MONO";
  src: url("/fonts/VCR_OSD_MONO.ttf") format("truetype");
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes squish {
  0% {
    transform: scale(100%, 100%);
  }
  50% {
    transform: scale(96%, 96%);
  }
  100% {
    transform: scale(100%, 100%);
  }
}
:root {
  overflow-x: hidden;
}

* {
  color: #f8f8ff;
  font-size: calc(1rem + 0.05vw);
  font-family: "Montserrat Alternates";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Chrome, Edge and Safari */
}
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: rgba(109, 31, 132, 0.4);
}
*::-webkit-scrollbar-track:hover {
  background-color: rgba(109, 31, 132, 0.4);
}
*::-webkit-scrollbar-track:active {
  background-color: rgba(109, 31, 132, 0.4);
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(168, 11, 160, 0.4);
  border-radius: 5px;
}
*::-webkit-scrollbar-thumb:hover {
  background-color: #a80ba0;
}
*::-webkit-scrollbar-thumb:active {
  background-color: #a80ba0;
}

::-moz-selection {
  color: #fff;
  background: rgba(245, 62, 162, 0.4);
  filter: blur(20px);
}

::selection {
  color: #fff;
  background: rgba(245, 62, 162, 0.4);
  filter: blur(20px);
}

::moz-selection {
  color: #fff;
  background: rgba(245, 62, 162, 0.4);
  filter: blur(20px);
}

body {
  background-color: black;
  text-align: left;
  z-index: 1;
}

p {
  font-size: 18px;
  margin: 1.5vw;
}

a {
  color: #f86fbb;
  text-decoration-thickness: 1px;
  transition-duration: 100ms;
}
a:hover {
  color: #faa5d4;
}

b {
  color: #f53ea2;
}

small {
  font-size: calc(0.8rem + 0.05vw);
  color: #f53ea2;
}

blockquote.left {
  border-left: 4px solid #a80ba0;
  padding-left: 20px;
}
blockquote.right {
  border-right: 4px solid #a80ba0;
  padding-right: 20px;
}

.standalone-text {
  filter: drop-shadow(4px 4px 2px #000);
}

.drop-shadow {
  filter: drop-shadow(16px 16px 4px rgba(0, 0, 0, 0.4));
}

img {
  height: auto;
}
img.img-xsmall {
  filter: drop-shadow(16px 16px 4px rgba(0, 0, 0, 0.4));
  max-width: 6vw;
}
img.img-small {
  filter: drop-shadow(16px 16px 4px rgba(0, 0, 0, 0.4));
  max-width: 12vw;
}
img.img-medium {
  filter: drop-shadow(16px 16px 4px rgba(0, 0, 0, 0.4));
  max-width: 24vw;
}
img.img-large {
  max-width: 40vw;
}
img.round {
  border-radius: 25px;
}
img.circle {
  border-radius: 50%;
}
img.title-img {
  position: relative;
  height: 10em;
}

.construction-notice {
  align-items: center;
  text-align: center;
}
.construction-notice h1 {
  font-size: 70px;
  margin: 50px;
  font-family: "Sedgwick Ave Display", sans-serif;
}
.construction-notice h2 {
  font-size: 50px;
  text-align: center;
  font-family: "Elizabeth Handwriting", sans-serif;
  margin-bottom: 25px;
}

.main-wrapper {
  display: grid;
  grid-template-columns: 30vw 22vw 22vw 22vw;
  gap: 2vw;
  grid-auto-rows: auto;
  grid-template-areas: "a c d e" "b c d e";
  align-items: start;
  align-content: center;
}

.scrambled-text {
  font-size: 3vw;
  font-family: "Sedgwick Ave Display", sans-serif;
  color: rgba(255, 240, 246, 0.4392156863);
  text-shadow: none;
  -webkit-text-stroke: 0.01rem rgba(255, 240, 246, 0.4392156863);
}

#introduction {
  grid-area: a;
  padding-left: 10%;
}
#introduction h1 {
  font-size: 1.6vw;
  margin-bottom: 2vh;
}
#introduction h2 {
  font-family: "Sedgwick Ave Display", sans-serif;
  font-size: 3vw;
  margin-bottom: 4vh;
  letter-spacing: 0.05em;
  vertical-align: middle;
}

.skills {
  grid-area: b;
  padding-left: 10%;
}

.area-c {
  grid-area: c;
}

.area-d {
  grid-area: d;
}

.area-e {
  grid-area: e;
}

.card {
  position: relative;
  flex-direction: column;
  width: 18vw;
  height: 32vh;
  word-wrap: break-word;
  display: flex;
  padding: 16px;
  background-color: #f53ea2;
  background-image: url(/img/placeholder.jpg);
  background-size: cover;
  background-clip: border-box;
  box-shadow: 0 0 32px rgba(109, 31, 132, 0.4);
  border-radius: 25px;
}

.above-fade {
  margin-top: -64px;
  transform: rotateX(45deg);
  -webkit-mask-image: linear-gradient(to top, white, transparent);
          mask-image: linear-gradient(to top, white, transparent);
}

.below-fade {
  transform: rotateX(-45deg);
  -webkit-mask-image: linear-gradient(to bottom, white, transparent);
          mask-image: linear-gradient(to bottom, white, transparent);
}

.card-title {
  font-size: calc(2rem + 0.05vw);
  margin-top: auto;
  margin-bottom: 16px;
}

.card-description {
  font-size: calc(1rem + 0.05vw);
  color: #f366ec;
  line-height: 24px;
}

.card-link {
  font-weight: 500;
}

span.card-tag {
  font-size: calc(0.8rem + 0.05vw);
  width: calc-size(-moz-fit-content, size);
  width: calc-size(fit-content, size);
  border-radius: 25px;
  padding: 6px 10px;
  background-color: rgba(168, 11, 160, 0.4);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  padding-bottom: 10vh;
  padding-top: 6vh;
  padding-left: 2vw;
  padding-right: 2vw;
  margin-left: 1vw;
}

footer {
  color: #f53ea2;
  font-size: calc(0.8rem + 0.05vw);
  text-align: center;
  margin-bottom: 4vh;
}

.screen-wrapper {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  display: flex;
  pointer-events: none;
}

nav {
  width: 94vw;
  padding-left: 10px;
  z-index: 10;
  position: fixed;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  display: inline-flex;
}

li {
  display: inline-flex;
  list-style-type: none;
}

.nav-links {
  list-style: none;
}
.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}
.nav-links li a {
  transition: all 0.3s ease 0s;
}
.nav-links li a:hover {
  color: #a80ba0;
  -webkit-text-decoration: underline 1px;
          text-decoration: underline 1px;
}

img.nav-icon, img.nav-icon-clickable {
  aspect-ratio: 1/1;
  height: 28px;
  margin: -2px 4px;
  align-self: center;
}

img.nav-icon-clickable {
  cursor: pointer;
}

.expanding-tooltip {
  text-decoration: none;
  color: #f8f8ff;
  display: inline-flex;
  height: 42px;
  width: 44px;
  padding: 4px;
  align-self: center;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 24px;
  transition: width 300ms ease-in-out 0s, background-color 300ms linear 200ms;
}
.expanding-tooltip:hover, .expanding-tooltip:focus-visible {
  width: calc-size(-moz-fit-content, size);
  width: calc-size(fit-content, size);
  position: relative;
  padding-right: 12px;
  background-color: rgba(168, 11, 160, 0.4);
  transition: width 300ms ease-in-out 0s, background-color 100ms linear 0s;
}
.expanding-tooltip:focus-visible {
  outline: 1px solid rgba(168, 11, 160, 0.4);
  outline-offset: 4px;
}
.expanding-tooltip::after {
  content: attr(tooltip);
  margin-left: 8px;
  animation: fade-in 600ms linear forwards;
}

.squombus-button, .squombus-button-active {
  border: none;
  border-radius: 1rem 5rem;
  cursor: pointer;
  padding: 8px 24px;
  margin-right: 8px;
  transition-duration: 0.3s;
}
.squombus-button:hover, .squombus-button-active:hover {
  transform: scale(110%, 110%);
  border-radius: 5rem 1rem;
  background: rgba(168, 11, 160, 0.4);
  color: #f366ec;
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

img.button-icon {
  aspect-ratio: 1/1;
  margin-right: 0.4vw;
  align-self: baseline;
}

.small-container {
  position: relative;
  align-items: center;
  border-radius: 25px;
}

.squombus-button, .squombus-button-active, .card, .small-container {
  background-color: rgba(109, 31, 132, 0.4);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

.squombus-button-active {
  background-color: rgba(245, 62, 162, 0.4) !important;
}

.wrapper {
  align-items: center;
  text-align: center;
  line-height: 1.5rem;
}

.gallery-card {
  align-items: center;
  display: inline-flex;
  margin: 2vh 8vw;
  padding: 4vh 2vw;
  width: 70%;
  height: 50vh;
  transition-duration: 0.3s;
  text-decoration: none;
  border-radius: 25px;
}
.gallery-card:nth-child(even) {
  text-align: left;
}
.gallery-card:nth-child(odd) {
  text-align: right;
}
.gallery-card:hover {
  transform: scale(105%, 105%);
  background-color: rgba(109, 31, 132, 0.4);
}
.gallery-card span.card-tag {
  color: #f366ec;
  font-size: calc(0.8rem + 0.05vw);
  width: calc-size(-moz-fit-content, size);
  width: calc-size(fit-content, size);
  padding: 6px 10px;
  margin-right: 6px;
  background-color: rgba(168, 11, 160, 0.4);
  border-radius: 25px;
}
.gallery-card span.card-tag .tag-icon {
  aspect-ratio: 1/1;
  height: 16px;
  margin-bottom: -3px;
  margin-right: 6px;
  align-self: center;
  align-content: baseline;
}

h2.gallery-h2 {
  font-size: calc(2rem + 0.05vw);
  margin-top: 4vh;
  margin-bottom: 1vh;
  margin-left: 1vw;
  margin-right: 1vw;
}

h3.gallery-h3 {
  display: inline-block;
  font-size: calc(1.2rem + 0.05vw);
  font-family: "Montserrat Alternates";
  margin-top: 1vh;
  margin-left: 1vw;
  margin-right: 1vw;
}

.description-wrapper-medium {
  width: 50rem;
}

.description-wrapper-small {
  width: 30rem;
}

h1.page-title {
  text-align: left;
  font-size: calc(3rem + 0.05vw);
  font-family: "Sedgwick Ave Display", sans-serif;
  margin-left: 4vw;
  margin-right: 4vw;
  margin-bottom: 6vh;
}

#moveable-background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 20%;
  background-image: url("/img/dragon_fountain-low.jpg");
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 120%;
  width: 120%;
  display: flex;
  position: fixed;
  filter: blur(5px);
  transition: all 2s cubic-bezier(0.34, 1.56, 0.64, 1), opacity 1ms;
  z-index: -1;
}

#parallax-background {
  background-image: url("/gallery/waking-dreams/Space_BG.png");
  width: 200%;
  height: 200vh;
  position: fixed;
  z-index: -2;
  animation: scroll 60s linear infinite;
  opacity: 60%;
}

.modal {
  display: none;
  align-content: center;
  position: fixed;
  z-index: 20;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  opacity: 0;
  display: block;
  margin: auto;
  height: auto;
  max-height: 70vh;
  max-width: 80%;
  -o-object-fit: contain;
     object-fit: contain;
  animation: fade-in 200ms linear forwards;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

#caption {
  opacity: 0;
  font-size: calc(1rem + 0.05vw);
  margin: auto;
  display: block;
  width: 50%;
  max-width: 700px;
  text-align: center;
  color: #ffffff;
  padding: 6vh 0;
  animation: fade-in 600ms linear forwards;
  filter: drop-shadow(16px 16px 4px rgba(0, 0, 0, 0.4));
}

.center {
  display: block;
  margin-left: 0 auto;
  margin-right: 0 auto;
  width: 50%;
}

.unselectable, img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.hoverable {
  cursor: pointer;
  transition-duration: 0.3s;
}
.hoverable:hover {
  transform: scale(105%, 105%);
}

.zoom-in {
  cursor: zoom-in;
}

.gradient-text, h3.gallery-h3 {
  background: linear-gradient(90deg, #f366ec 0%, #f53ea2 100%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.neon-text {
  animation: pulsate-neon 2.5s infinite alternate;
}

.spacer {
  margin: 100px 100px;
}

.switch {
  position: relative;
  top: -10px;
  width: 48px;
  height: 28px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  vertical-align: middle;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #6b1f83;
  border-radius: 26px;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 6px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #a80ba0;
}

input:focus + .slider {
  box-shadow: 0 0 1px #a80ba0;
}

input:checked + .slider:before {
  transform: translateX(32px);
}

#fullover {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: black;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.1s;
  pointer-events: none;
}

#fullover.show {
  visibility: visible;
  opacity: 1;
}

@keyframes pulsate-neon {
  100% {
    text-shadow: 0 0 1px #f8f8ff, 0 0 5px #f53ea2, 0 0 10px #f53ea2, 0 0 20px #a80ba0, 0 0 40px #a80ba0;
  }
  0% {
    text-shadow: 0 0 2px #f8f8ff, 0 0 10px #f53ea2, 0 0 20px #f53ea2, 0 0 40px #a80ba0, 0 0 60px #a80ba0;
  }
}
@keyframes levitate {
  0% {
    transform: translateY(6px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes scroll {
  100% {
    background-position: 768px 768px;
  }
}
.wavey-text {
  margin-top: 4px;
  margin-bottom: 4px;
  display: inline flex;
  text-decoration: none;
}
.wavey-text span {
  animation: wavey 0.5s ease-in-out infinite alternate;
}
.wavey-text:nth-child(1) {
  animation-delay: 0s;
}
.wavey-text:nth-child(2) {
  animation-delay: 0.2s;
}
.wavey-text:nth-child(3) {
  animation-delay: 0.4s;
}
.wavey-text:nth-child(4) {
  animation-delay: 0.6s;
}
@keyframes wavey {
  from {
    transform: translateY(4px);
  }
  to {
    transform: translateY(-4px);
  }
}
.padding-right {
  padding-right: 10vw;
}

.padding-left {
  padding-left: 10vw;
}/*# sourceMappingURL=default.css.map */