main {
	position: absolute;
    text-align: center;
	color: white;
	background-color: black;
}
title {
	color: #ff5e9c;
	font-family: "Verdana", "Helvetica", sans-serif;
	font-size: 72px;
	font-weight: bold;
}
p {
	color: #e5dbf7;
	font-size: 24px;
}
