@font-face {
  font-family: "Yeah But When I Do It";
  src: url("/fonts/Yeah_But_When_I_Do_It.otf") format("opentype");
}
@font-face {
  font-family: "Elizabeth Handwriting";
  src: url("/fonts/Elizabeth_Handwriting.otf") format("opentype");
}
@font-face {
  font-family: "Sedgwick Ave Display";
  src: url("/fonts/Sedgwick_Ave_Display.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat Alternates";
  src: url("/fonts/Montserrat_Alternates.ttf") format("truetype");
}
@font-face {
  font-family: "VCR OSD MONO";
  src: url("/fonts/VCR_OSD_MONO.ttf") format("truetype");
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes squish {
  0% {
    transform: scale(100%, 100%);
  }
  50% {
    transform: scale(96%, 96%);
  }
  100% {
    transform: scale(100%, 100%);
  }
}
* {
  font-family: "VCR OSD MONO";
}

#character-img {
  position: fixed;
  align-items: end;
  height: 48vh;
  bottom: 0px;
  right: 2vw;
  cursor: pointer;
  pointer-events: all;
}
#character-img:active {
  animation: squish 50ms ease forwards;
}

img {
  position: relative;
  z-index: 1;
}
img.display-img-medium {
  display: block;
  width: 14vw;
  height: auto;
  border-radius: 25px;
  transition-duration: 0.3s;
  filter: drop-shadow(16px 16px 4px rgba(0, 0, 0, 0.4));
}
img.display-img-medium:hover {
  transform: scale(105%, 105%);
}
img.display-img-large {
  max-width: 24vw;
}
img.img-fire, img.img-explosion {
  display: block;
  margin: auto;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 10rem;
  scale: 1.5;
  height: auto;
  z-index: 2;
  pointer-events: none;
}
img.img-explosion {
  scale: 3;
  z-index: 3;
}

.explosive {
  display: inline-flex;
  position: relative;
  cursor: pointer;
}
.explosive:active {
  animation: squish 50ms ease forwards;
}

.captioned-image {
  display: flexbox;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  width: 60%;
  filter: drop-shadow(16px 16px 4px rgba(0, 0, 0, 0.4));
}
.captioned-image p {
  margin-top: 4vh;
  margin-bottom: auto;
}

h2 {
  font-size: calc(2rem + 0.05vw);
  margin-top: 4vh;
  margin-bottom: 1vh;
  margin-left: 1vw;
  margin-right: 1vw;
  padding-bottom: 1vh;
}

h3 {
  font-size: calc(1.2rem + 0.05vw);
  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

main {
  align-items: center;
}

iframe {
  width: 32rem;
  height: auto;
  aspect-ratio: 4/3;
  border-radius: 25px;
  border: none;
  filter: drop-shadow(16px 16px 4px rgba(0, 0, 0, 0.4));
}

.left {
  margin-left: 4vw;
}

.right {
  margin-right: 4vw;
}

.developer-showcase {
  display: inline flex;
  flex-wrap: nowrap;
  margin: 0vh 2vw;
  align-items: center;
  width: 30vw;
  justify-content: center;
  text-decoration: none;
  text-align: left;
}
.developer-showcase blockquote {
  display: block;
  margin-top: 0vh;
  margin-bottom: 0vh;
  margin-left: 1vw;
  margin-right: 0vw;
  border-left: 4px solid #a80ba0;
  padding-left: 20px;
}
.developer-showcase a {
  color: #f8f8ff;
}
.developer-showcase .section-link {
  transition-duration: 0.3s;
}
.developer-showcase .section-link:hover {
  cursor: pointer;
  color: #f366ec;
  text-decoration: underline;
  padding-left: 40px;
}
.developer-showcase div {
  width: 20vw;
}

section, .subsection {
  display: inline flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 2vh 8vw;
  padding: 4vh 2vw;
  width: 70vw;
  text-decoration: none;
}

.subsection {
  padding: 0vh 2vw;
}

/* The Close Button */
.close {
  position: absolute;
  top: 5vh;
  right: 3vw;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.close:hover, .close:focus {
  color: #f53ea2;
  text-decoration: none;
  transform: scale(125%, 125%);
  cursor: pointer;
}

.layers-demo {
  margin: 8vh auto;
  padding: 4vw;
  display: block;
  position: relative;
  filter: none;
}
.layers-demo #layer-0, .layers-demo #layer-1, .layers-demo #layer-3, .layers-demo #layer-2 {
  margin: auto;
  transition-duration: 0.3s;
  position: relative;
  top: 5px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.layers-demo #layer-1, .layers-demo #layer-3, .layers-demo #layer-2 {
  position: absolute;
  z-index: 2;
}
.layers-demo #layer-2 {
  z-index: 3;
}
.layers-demo #layer-3 {
  z-index: 4;
}
.layers-demo:hover #layer-0, .layers-demo:hover #layer-1, .layers-demo:hover #layer-2, .layers-demo:hover #layer-3 {
  transform: translate(-6rem, -6rem);
}
.layers-demo:hover #layer-1, .layers-demo:hover #layer-2, .layers-demo:hover #layer-3 {
  transform: translate(-3rem, -3rem);
}
.layers-demo:hover #layer-2 {
  transform: translate(3rem, 3rem);
}
.layers-demo:hover #layer-3 {
  transform: translate(6rem, 6rem);
}

.window {
  background: rgba(109, 31, 132, 0.4);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 2px solid #f366ec;
  border-radius: 0.5rem;
  filter: drop-shadow(16px 16px 4px #000);
}
.window .titlebar {
  padding: 0;
  background: rgba(168, 11, 160, 0.4);
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
}
.window .titlebar p {
  text-align: right;
  margin: 0;
  padding: 0.5vh 0.7vw;
}

.big-bottom {
  margin-bottom: 10vh !important;
}/*# sourceMappingURL=waking-dreams.css.map */