@import '../../css/variables.scss';

* {
    font-family: 'VCR OSD MONO';
}

// ======== Images ======== 

// Used for Aina
#character-img {
    position: fixed;
    align-items: end;
    height: 48vh;
    bottom: 0px; right: 2vw;
    cursor: pointer;
    pointer-events: all;
    
    &:active {
        animation: squish 50ms ease forwards;
    }
}

img {
    position: relative;
    z-index: 1;

    &.display-img-medium {
        display: block;
        width: 14vw;
        height: auto;
        border-radius: $border-radius;
        transition-duration: $scale-transition-time;
        filter: drop-shadow(16px 16px 4px #0006);

        &:hover {
            transform: scale(105%, 105%);
        }
    }

    &.display-img-large {
        @extend .display-img-large;
        max-width: 24vw;
    }

    &.img-fire {
        display: block;
        margin: auto;
        position: absolute;
        object-fit: cover;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 10rem;
        scale: 1.5;
        height: auto;
        z-index: 2;
        pointer-events: none;
    }

    &.img-explosion {
        @extend .img-fire;
        scale: 3.0;
        z-index: 3;
    }
}

.explosive {
    display: inline-flex;
    position: relative;
    cursor: pointer;

    &:active {
        animation: squish 50ms ease forwards;
    }
}

.captioned-image {
    display: flexbox;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    width: 60%;
    filter: drop-shadow(16px 16px 4px #0006);

    p {
        margin: {
            top: 4vh;
            bottom: auto;
        }
    }
}

// ======== Headings ========

h2 {
    font: {
        size: $h2-text;
    }
    margin: {
        top: 4vh;
        bottom: 1vh;
        left: 1vw;
        right: 1vw;
    }
    padding-bottom: 1vh;
}

h3 {
    font: {
        size: $h3-text;
    }
    margin: {
        left: 1vw;
        right: 1vw;
        top: 2vh;
        bottom: 2vh;
    }
}

main {
    align-items: center;
}

iframe {
    width: 32rem;
    height: auto;
    aspect-ratio: 4 / 3;

    border-radius: $border-radius;
    border: none;
    filter: drop-shadow(16px 16px 4px #0006);
}

.left {
    margin-left: 4vw;
}

.right {
    margin-right: 4vw;
}

.developer-showcase {
    display: inline flex;
    flex-wrap: nowrap;
    
    margin: 0vh 2vw;
    align-items: center;
    width: 30vw;
    justify-content: center;
    
    text-decoration: none;
    text-align: left;

    blockquote {
        display: block;
        margin: {
            top: 0vh;
            bottom: 0vh;
            left: 1vw;
            right: 0vw;
        }
        border-left: 4px solid $primary-color;
        padding-left: 20px;
    }
    
    a {
        color: $text-color;
    }
    
    .section-link {
        transition-duration: $scale-transition-time;
        
        &:hover {
            cursor: pointer;
            color: $primary-tint-color;
            text-decoration: underline;
            padding-left: 40px;
        }
    }

    div {
        width: 20vw;
    }
}

section {
    display: inline flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 2vh 8vw;
    padding: 4vh 2vw;
    width: 70vw;
    text-decoration: none;
}

.subsection {
    @extend section;
    padding: 0vh 2vw;
}

/* The Close Button */
.close {
    position: absolute;
    top: 5vh;
    right: 3vw;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: $scale-transition-time;

    &:hover, &:focus {
        color: $accent-color;
        text-decoration: none;
        transform: scale(125%, 125%);
        cursor: pointer;
    }
}

// Used for showing off the Dynamic Title Screen layers
.layers-demo {
    margin: 8vh auto;
    padding: 4vw;
    display: block;
    position: relative;
    filter: none;

    #layer-0 {
        margin: auto;
        transition-duration: $scale-transition-time;
        position: relative;
        top: 5px;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
    }

    #layer-1 {
        @extend #layer-0;
        position: absolute;
        z-index: 2;
    }

    #layer-2 {
        @extend #layer-1;
        z-index: 3;
    }

    #layer-3 {
        @extend #layer-1;
        z-index: 4;
    }

    &:hover {
        #layer-0 {
            transform: translate(-6rem, -6rem);
        }
        #layer-1 {
            transform: translate(-3rem, -3rem);
        }
        #layer-2 {
            transform: translate(3rem, 3rem);
        }
        #layer-3 {
            transform: translate(6rem, 6rem);
        }
    }
}

.window {
    background: $secondary-trans-color;
    backdrop-filter: blur(10px);
    border: 2px solid $primary-tint-color;
    border-radius: 0.5rem;
    filter: drop-shadow(16px 16px 4px #000);

    .titlebar {
        padding: 0;
        background: $primary-trans-color;
        border-top-left-radius: 0.2rem;
        border-top-right-radius: 0.2rem;

        p {
            text-align: right;
            margin: 0;
            padding: 0.5vh 0.7vw;
        }
    }
}

.big-bottom {
    margin-bottom: 10vh !important;
}