<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Imports-->
		<link rel="stylesheet" type="text/css" href="/css/default.css">
		<link rel="stylesheet" type="text/css" href="/css/light-mode.css">
		<!-- Scripts -->
		<script src="/js/htmx.min.js"></script>
		<script src="/js/effects.js" defer></script>
		<script src="/js/text_scramble.js" defer></script>
		<!-- Fonts -->
		<link rel="preload" href="/fonts/Yeah_But_When_I_Do_It.otf" as="font" type="font/otf" crossorigin="anonymous">
		<link rel="preload" href="/fonts/Sedgwick_Ave_Display.ttf" as="font" type="font/ttf" crossorigin="anonymous">
		<link rel="preload" href="/fonts/Elizabeth_Handwriting.otf" as="font" type="font/otf" crossorigin="anonymous">
        <!-- Open Graph Tags -->
        <meta property="og:title" content="Gallery - KawaiiBakemono">
        <meta property="og:description" content="My official portfolio website! View my work, see my contributions, or get in contact with me!">
		<!-- Tab Stuff -->
		<link rel="icon" type="image/svg" href="/icons/cat.svg">
		<title>Gallery - KawaiiBakemono</title>
	</head>
	<body>
		<div id="moveable-background" style="background-image: url('/img/code.png'); opacity: 60%"></div>
        <div hx-get="/html/template-header.html" hx-trigger="load" defer></div>
		<main class="wrapper">
            <h1 class="page-title neon-text">Project Gallery</h1>
            <a class="gallery-card" href="/gallery/waking-dreams/">
                <img class="gallery-img" src="/img/Waking_Dreams-thumb.png" alt="thumbnail">
                <div class="description-wrapper">
                    <div>
                        <span class="card-tag"><img class="tag-icon" src="/icons/game.svg" alt="icon">Game Dev</span>
                        <span class="card-tag"><img class="tag-icon" src="/icons/javascript.svg" alt="icon">JavaScript</span>
                        <span class="card-tag"><img class="tag-icon" src="/icons/vector.svg" alt="icon">Logo Design</span>
                        <span class="card-tag"><img class="tag-icon" src="/icons/pixel-art.svg" alt="icon">Pixel Art</span>
                    </div>
                    <h2 class="neon-text gallery-h2">Waking Dreams</h2>
                    <h3 class="gallery-h3">RPG Maker MZ Game</h3>
                    <blockquote class="gallery-blockquote left">
                        An in-development game made in the RPG Maker MZ, a JavaScript-based engine.
                        My contributions include writing custom JavaScript plugins, designing the game's logos,
                        drawing a handful of pixel art sprites, and playtesting builds of the game to provide
                        feedback for the lead developer.
                    </blockquote>
                </div>
            </a>
            <a class="gallery-card" href="https://www.planetminecraft.com/texture-pack/voxilla/" target="_blank">
                <div class="description-wrapper">
                    <div>
                        <span class="card-tag"><img class="tag-icon" src="/icons/json.svg" alt="icon">JSON</span>
                        <span class="card-tag"><img class="tag-icon" src="/icons/modding.svg" alt="icon">Modding</span>
                        <span class="card-tag"><img class="tag-icon" src="/icons/vector.svg" alt="icon">Logo Design</span>
                        <span class="card-tag"><img class="tag-icon" src="/icons/pixel-art.svg" alt="icon">Pixel Art</span>
                    </div>
                    <h2 class="neon-text gallery-h2">Voxilla</h2>
                    <h3 class="gallery-h3">Java Minecraft Resourcepack</h3>
                    <blockquote class="gallery-blockquote right">
                        A faithful Minecraft resourcepack that aims to improve upon the already existing art style
                        and textures. v2.0 is in active development, although no set release date has been decided,
                        as I am currently focusing on my website at the moment.
                    </blockquote>
                </div>
                <img class="gallery-img" src="/img/Voxilla-logo-thumbnail.png" alt="thumbnail">
            </a>
            <div class="spacer"></div>
        </main>
        <footer hx-get="/html/template-footer.html" hx-trigger="load" defer></footer>
	</body>
</html>
